<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <br><br>
    <div class="alert alert-info" role="alert" style="margin: auto; text-align: center; width: 1200px;">
        <br>
        <h1><i class="far fa-grin"></i></i>&nbsp About</h1>
        <br>
        <p>안녕하세요, 글자를 세는 멋쟁이 사자처럼 워드카운트 페이지입니다.</p>
        <br>
        <a class="btn btn-info" href="{% url 'home' %}">Home으로 돌아가기</a>
        <br><br>
    </div>
    <br>
    <p style="font-size:15px; margin-left: 1350px;">멋쟁이 사자처럼 7기 최다은</p>
</body>